<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.StudentDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->
    <select id="getStudentbyAccount"  resultType="com.entity.Student">
        SELECT * FROM  standard_seminar_system.student WHERE account = #{0} and password=#{1}
    </select>
    <select id="getAllStudent" resultType="com.entity.Student">
         SELECT * FROM  standard_seminar_system.student;
    </select>
    <select id="getStudentbyInfo" resultType="com.entity.Student">
         SELECT * FROM  standard_seminar_system.student where account=#{info} or student_name=#{info};
    </select>
    <delete id="deleteAstudent" parameterType="String" >
        delete from  standard_seminar_system.student where account = #{account};
    </delete>
    <update id="resetStudent">
        update standard_seminar_system.student set password='123456'
        where account=#{account}
    </update>
    <update id="modifyStudent">
        update standard_seminar_system.student set account=#{1},student_name=#{2},email=#{3}
        where id=#{0}
    </update>
</mapper>