<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.TeacherDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->
    <select id="getAllTeacher" resultType="com.entity.Teacher">
         SELECT * FROM  standard_seminar_system.teacher;
    </select>
    <select id="getTeacherbyInfo" resultType="com.entity.Teacher">
         SELECT * FROM  standard_seminar_system.teacher where account=#{info} or teacher_name=#{info};
    </select>
    <insert id="createTeacher" >
        insert into standard_seminar_system.teacher(account,teacher_name,password,email,is_active) values(#{0},#{1},#{2},#{3},0);
    </insert>
    <delete id="deleteAteacher" parameterType="String" >
        delete from  standard_seminar_system.teacher where account = #{account};
    </delete>
    <update id="modifyTeacher">
        update standard_seminar_system.teacher set account=#{1},teacher_name=#{2},email=#{3}
        where id=#{0}
    </update>
    <update id="resetTeacher">
        update standard_seminar_system.teacher set password='123456'
        where account=#{account}
    </update>
</mapper>